{# src/CL/TicketingBundle/Resources/views/Ticketing/regitration.html.twig #}

{% extends 'layout.html.twig' %}

{% block body %}
  <h1>Enregistrement de la commande</h1>
  {# {{ dump(data.TicketNb) }} #}
    {% for i in 1..data.TicketNb %}
      <p>Billet n°{{i}}</p>
  {% endfor %}

{% endblock %}
