{# src/CL/TicketingBundle/Resources/views/Ticketing/purchase.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}
  {% if purchase.ticketNb  < 2 %}
    Billet
  {% else %}
    Billets
  {% endif %}
  - {{parent()}}
{% endblock %}

{% block body %}
  {% embed "@CLTicketing/Ticketing/ariane.html.twig" %}{% endembed %}

  <h1>
    Création
    {% if purchase.ticketNb  < 2 %}
      du billet
    {% else %}
      des billets
    {% endif %}
  </h1>

  <!-- ============================ -->
  <!-- Formulaire ================= -->
  <!-- ============================ -->
  {% embed "@CLTicketing/Ticketing/form/createTicket.html.twig" %}{% endembed %}

{% endblock %}
