{# src/CL/TicketingBundle/Resources/views/Ticketing/thanks.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}
  Remerciements - {{parent()}}
{% endblock %}

{% block body %}

  {% for msg in app.session.flashBag.get('success') %}
    <p class="alert alert-success" role="alert">{{ msg }}</p>
  {% endfor %}

  <h4>Merci pour votre commande.</h4>
  <h5>Nous vous souhaitons un bonne visite le {{ purchase.visitDate|localizeddate('full', 'none', app.request.locale) }}
  </h5>

  <p>Vous allez recevoir un e-mail avec
    {% if purchase.ticketNb < 2 %}
      votre billet.
    {% else %}
      vos billets.
    {% endif %}

  </p>
  <p>
    Merci de
    {% if purchase.ticketNb < 2 %}
      le présenter
    {% else %}
      les présenter
    {% endif %}
     à l'accueil, le jour de votre visite, <strong>ainsi que les éventuels justificatifs si vous bénéficiez du tarif réduit.</strong>
  </p>



{% endblock %}
